<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="swap-vertical" slot = "start"></ion-icon>
          <ion-select aria-label="Name" interface="popover" placeholder="Name (A-Z)">
            <ion-select-option value="A">A</ion-select-option>
            <ion-select-option value="B">B</ion-select-option>
            <ion-select-option value="C">C</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="search" slot = "start"></ion-icon>Search
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label (click)="openModal()">Pokémon Yellow</ion-label>
          </ion-item>
          <ion-item>
            <ion-label (click)="openModal()">Mega Man X</ion-label>
          </ion-item>
          <ion-item>
            <ion-label (click)="openModal()">The Legend of Zelda</ion-label>
          </ion-item>
          <ion-item>
            <ion-label (click)="openModal()">Pac-Man</ion-label>
          </ion-item>
          <ion-item>
            <ion-label (click)="openModal()">Super Mario World</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

